@import url(https://db.onlinewebfonts.com/c/4f6fb2fa3c231278167b36e966718cbb?family=Uni+Sans+Heavy+Regular);
@font-face {
    font-family: 'Tourney';
    src: url('Tourney.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Uni Sans Heavy Regular";
    src: url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.eot");
    src: url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/4f6fb2fa3c231278167b36e966718cbb.svg#Uni Sans Heavy Regular")format("svg");
}


body{
    display: grid;
    place-items: center;
    place-content: center;

    height: 100vh;

    border: 5px solid white;
    background-color: #050505;
}

body > header,
body > main,
body > footer {
    width: 80%;
}


header {
    padding: 20px;
    background: #050505;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;

    text-align: center;
    bottom: 0;
    gap: 15px;
    font-family: 'Inter', sans-serif;
}

header > nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid white;
    font-family: 'Tourney', sans-serif;
}

header > nav > a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
}

main > div {
    border: 1px solid white;
    height: 100px;
}




footer {
    padding: 10px;
    background-color: #050505;
    text-align: center;
    /*position: fixed;*/
    bottom: 0;
    display: grid;
    gap: 15px;
    font-family: 'Inter', sans-serif;
    place-content: center;
    place-items: center;
}

footer > nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-top: 1px solid white;
    font-family: 'Tourney', sans-serif;
}

footer > nav > a {
    text-decoration: none;
    font-size: .8rem;
    color: white;

}


