.slideshow-container {
            width: 40vh;
            position: relative;
            margin: 40px auto;
            background-color: #000;
            color: #fff;
            padding: 20px;
    font-family: Inter, sans-serif;
        }

        .slide {
            display: none;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
        }

        .slide > p {
            padding: 20px;
            height: 5vh;
        }

        .slide.active {
            display: block;
        }

        .slide h2 {
            font-size: 20px;
            margin-bottom: 10px;
            font-family: "Uni Sans Heavy Regular", sans-serif;
        }

        .slide p {
            font-size: 16px;
        }

        .nav-container {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .prev, .next {
            cursor: pointer;
            width: auto;
            padding: 5px;
            color: #fff;
            font-size: 18px;
            transition: 0.6s ease;
            user-select: none;
            background-color: transparent;
        }

        .prev {
            margin-right: 10px;
        }

        .next {
            margin-left: 10px;
        }

        .prev:hover, .next:hover {
            color: #ccc;
        }

        .dots-container {
            display: inline-flex;
            align-items: center;
        }

        .dot {
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin: 0 5px;
            background-color: #242222;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active-dot {
            background-color: #ffffff;
        }